<h2>Новини детайли</h2>
<div class="well">
	{{#each newsDetails}}
		<h2>{{title}}</h2>
		<div>{{{short_description}}}</div>
		<div>{{{description}}}</div>
		<div>{{{source}}}</div>
		<div>{{{date}}}</div>
	{{/each}}
</div>
